!/data/
/data/**
!/data/raw/
!/data/processed/
!**/ .gitkeep

!/data/raw/communes-france-2025.csv
!/data/processed/cp_stats.parquet

*.zip
*.gz
*.tar

__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# MODÈLES
# *.pt
# *.pkl
# /models/*
# !/models/.gitkeep